<%= form_with(model: register, remote: true, class:"formu p-3 rounded mx-auto my-5") do |form| %>
  <% if register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :tipo , params[:tipo], class:"form-label my-1 d-flex"%>
    <div class="form-check d-flex align-items-center">
      <%= form.radio_button :tipo, 'E', class:"form-check-input", id:"flexRadioDefault2" %>
      <label class="form-check-label mx-2" for="flexRadioDefault2">
        Entrada
      </label>
    </div>
     <div class="form-check d-flex align-items-center">
      <%= form.radio_button :tipo, 'S', class:"form-check-input", id:"flexRadioDefault3" %>
      <label class="form-check-label mx-2" for="flexRadioDefault3">
        Salida
      </label>
    </div>

  </div>


  <div class="field mb-3">
    <%= form.label class:"form-label my-1" do%>
      Fecha
    <% end  %>
    <div class="d-flex inp">
      <%= form.date_select :date , order: [:day, :month, :year], start_year: 2021  %>
    </div>
  </div>

  
  <div class="field mb-3">
    <%= form.label class:"form-label my-1" do%>
      Hora
    <% end  %>
    <div class="d-flex inp align-items-center">
      <%= form.time_select :hour %>
    </div>
  </div>

  <div class="field mb-3">
    <%= form.text_field :user_id, :value=> @session, class:"form-control", type:'hidden' %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-success w-100"%>
  </div>
  
<% end %>
