<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @register.date %>
</p>

<p>
  <strong>Hour start:</strong>
  <%= @register.hour_start %>
</p>

<p>
  <strong>Hour end:</strong>
  <%= @register.hour_end %>
</p>

<p>
  <strong>Total hours:</strong>
  <%= @register.total_hours %>
</p>

<p>
  <strong>User:</strong>
  <%= @register.user %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
