<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Paternallastname:</strong>
  <%= @person.paternalLastName %>
</p>

<p>
  <strong>Maternallastname:</strong>
  <%= @person.maternalLastName %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
