
<div class="mx-auto">
    <div class="d-flex ">
        <div class="d-flex flex-column  box-nav ">
            <div class="title">
                <h5 class=" py-4 px-3 ">Sistema de control</h4>

                <div class="text-start py-3 px-3 username d-flex align-items-center">
                    <span class="fs-3">
                        <i class="bi bi-person-circle"></i>
                    </span>

                    <p class="mx-2 ">
                        Bienvenido <b> <%= current_user.username %> </b> <br>
                        <%= current_user.role.id == 1 ? 'Admin':'' %>

                    </p>
                   
                </div>
                
            </div>
            <ul class="p-3 nav justify-content-center flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/menu">
                        <i class="bi bi-speedometer2 me-2"></i>Dashboard
                    </a>
                </li>
                <% if current_user.role.id == 1 %>
                    <li class="nav-item">
                        <a class="nav-link" href="/users"><i class="bi bi-people-fill me-2"></i>Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/roles"><i class="bi bi-key-fill me-2"></i>Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/people"><i class="bi bi-person-bounding-box me-2"></i>Empleados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reports">
                            <i class="bi bi-bookmarks-fill me-2"></i>
                            Reporte
                        </a>
                    </li>
                <% end %>
                <li class="nav-item">
                    <a class="nav-link" href="/registers"><i class="bi bi-card-checklist me-2"></i>Registros</a>
                </li>
            </ul>
        </div>
        <div class="content-menu w-100 p-3">
            <div class="d-flex justify-content-end ">
                <% if current_user %>
                    <%= link_to logout_path , class:"btn-cerrar" do%>
                        <span>
                            <i class="bi bi-box-arrow-right"></i>
                        </span>
                        Salir
                    <% end %>
                <% end %>
            <div>
        </div>
    </div>
</div>