<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="text-white">Lista de Usuarios</h1>
      <div class="d-flex justify-content-around">
        <%= link_to new_user_path(@user), class: "btn btn-light text-center mx-2 text-black" do%>
          <i class="bi bi-plus-lg"></i>
          Nuevo
        <% end %>
        <a href="/menu" class="btn btn-dark text-white" title="Atrás"> 
          <i class="bi bi-arrow-90deg-left"></i>
        </a> 
      </div>
    </div>
  </div>


  <div class="container mx-auto py-4">
      
    <p id="notice"><%= notice %></p>
    <div class="table-responsive bg-white p-3 rounded-3">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre de usuario</th>
            <th>Estado</th>
            <th>Rol</th>
            <th>Empleado</th>
            <th colspan="4"></th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.username %></td>
              <td><%= user.state ? 'Activo':'Inactivo'   %></td>
              <td><%= user.role.description %></td>
              <td><%= user.person.name%> <%= user.person.paternalLastName%> <%= user.person.maternalLastName%> </td>
              <td>
                <%= link_to user, class: "btn btn-success text-white" do %>
                  <i class="bi bi-eye-fill"></i>
                <% end %>
              </td>
              <td>
                <%= link_to edit_user_path(user) , class: "btn btn-warning" do%>
                  <i class="bi bi-pencil-square"></i>
                <% end %>
              </td>
              <td>
                <%= link_to user,class: "btn btn-danger text-white", method: :delete, data: { confirm: 'Are you sure?' } do%>
                      <i class="bi bi-x-square"></i>
                <% end%>
              
              </td>

              <% if user.state %>

              <td>
                  <%= link_to users_deshabilitar_path(:id => user.id), method: :post, class: "btn btn-dark text-white", title:"Inabilitar" do%>
                    <i class="bi bi-stop-circle"></i>
                  <% end %>

                </td>
              <% else %>
                <td>
                  <%= link_to users_habilitar_path(:id => user.id), method: :post,  class: "btn btn-info text-dark", title:"Habilitar" do%>
                    <i class="bi bi-play-circle"></i>
                  <% end %>
                </td>
              <% end %>

              <td>
                <%= link_to calendar_path(:id => user.id),class: "btn btn-primary text-white", title:"Calendario" do %>
                  <i class="bi bi-calendar-fill"></i>
                <% end %>
              </td>
            

            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    
  </div>
</div>
