<div class="home">
    <div class="container text-center mx-auto ">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h3 class="text-center">
                Sistema de control <br> de entrada y salida de personal 
            </h3>
            <div class="my-3">
                <%= image_tag "undraw_algolia_msba.svg", width: "25%" %>
            </div>
            <%= link_to 'Iniciar Sesión', login_path, class:"btn btn-primary rounded-pill", type: "button" %>
        </div>
    </div>
</div>
