<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="text-white">Lista de Roles</h1>
    
      <div class="d-flex justify-content-around">
        <%= link_to new_role_path, class: "btn btn-light text-center mx-2 text-black" do %>
         <i class="bi bi-plus-lg"></i>
          Nuevo
        <% end %>
        <a href="/menu" class="btn btn-dark text-white" title="Atrás"> 
          <i class="bi bi-arrow-90deg-left"></i>
        </a> 
      </div>
    </div>
  </div>


  <div class="container mx-auto py-4">
    <div class="table-responsive bg-white p-3 rounded-3">
      <table class="table table-striped table-hover">

          <thead>
            <tr>
              <th>ID</th>
              <th>Descripción</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @roles.each do |role| %>
              <tr>
                <td><%= role.id %></td>
                <td><%= role.description %></td>
                <td><%= link_to 'Show', role %></td>
                <td><%= link_to 'Edit', edit_role_path(role) %></td>
                <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>

      </table>

    </div>
  </div>
</div>

