// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-heading{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;

    .calendar-title{
        font-weight: bold;
        font-size: 24px;
    }
    a:hover{
        color: #000;
        text-decoration: underline;
    }
}