// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box-nav{
    background:#01709d;
    color:#fff;
    min-height: 100vh;
    width: 300px;
    h5{
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        border-bottom:1px solid #ccc;
        
    }
    .username{
        font-weight: 500;
        font-size: 0.9rem;
        border-bottom:1px solid #ccc;


    }
    ul {
        li{
            a{
                color: #fff;
                font-size: 1rem;

            }
            a:hover{
                background:none;
                color: #fff;

            }

        }
    }
}