// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login {
    padding: 120px 0 !important;
    background: #f9f9f9;
}

.box-login {
    background: #fff !important;
    border-radius: 5px;
    margin: auto;
    width: 450px;
    span {
        color: #5468ff;
        font-size: 3.5rem !important;
    }
    h3 {
        font-size: 1.4rem;
        color: #202124;
        font-weight: 500;
    }
    label {
        color: #495057;
        font-weight: 500;
    }
    .btn {
        background: #5468ff;
    }
    form {
        padding: 0 20px;
    }
    .actions {
        input {
            border: 0;
        }
    }
}