
          <%= form_with(url: reports_query_path, id:'form-prueba', class:"m-0 p-0 w-100", local: false)  do |form| %>
            <div class="d-flex flex-column justify-content-between w-100">
              <div class="field mb-3">
                <label class="form-check-label mr-2 my-1" for="user_rol_id">
                  Empleado
                </label>

                <%= form.select(:person_id, {},{}, {class:"form-select"} )  do%>
                  <% @people.each do |c| -%>
                    <%= content_tag(:option, c.name+ ' ' + c.paternalLastName + ' ' + c.maternalLastName, value: c.id) %>
                  <% end %>
                <% end %>

                  <div class="form-group w-50">
                <%= select_tag :year_id, options_from_collection_for_select(@anios, , params[:year_id]), prompt: "Año", class: "form-control" %>
              </div>
                    
              </div>

              <div class="field mb-3">
                <label class="form-check-label mr-2 my-1" for="">
                  Fecha
                </label>
                <div class="d-flex">
                  <%= form.select(:month_id, {}, {}, {class:"form-select w-50"}) do%>
                      <option value="1">Enero</option>
                      <option value="2">Febrero</option>
                      <option value="3">Marzo</option>
                      <option value="4">Abril</option>
                      <option value="5">Mayo</option>
                      <option value="6">Junio</option>
                      <option value="7">Julio</option>
                      <option value="8">Agosto</option>
                      <option value="9">Septiembre</option>
                      <option value="10">Octubre</option>
                      <option value="11">Noviembre</option>
                      <option value="12">Diciembre</option>
                    <% end %>
                    <%= form.select(:year_id, {}, {}, {class:"form-select w-50 mx-2"}) do%>
                      <% @anios.each do |c| -%>
                        <%= content_tag(:option, c, value: c) %>
                      <% end %>
                    <% end %>
                  </div>

              </div>
              <%= link_to reports_query_path(:month_id => '9', :year_id => '2021', :person_id => '2'), class: "btn btn-success w-100 text-white " do %>
                <i class="bi bi-search me-2"></i>
                BUSCAR
              <% end %>   
           
            </div>
          
          <% end %> 