<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="text-white">Lista de Registros</h1>
    
      <div class="d-flex justify-content-around">
       
        <a href="/reports" class="btn btn-dark text-white" title="Atrás"> 
          <i class="bi bi-arrow-90deg-left"></i>
        </a> 
      </div>
    </div>
  </div>

  
  <div class="container mx-auto py-4">
      <div class="table-responsive bg-white p-3 rounded-3">

        <div class="d-flex justify-content-end mb-3">
            <%= link_to "HTML", reports_query_path(:person_id=>@person_id, :year_id=>@year, :month_id=>@month), :download => 'filename', class:"btn btn-success text-white mx-3" %>
            <%= link_to "CVS", exportar_path(:user_id=>@user_id, :year=>@year, :month=>@month, format: :csv), class:"btn btn-success text-white mx-3" %>
            <%= link_to "XLS", exportar_path(:user_id=>@user_id, :year=>@year, :month=>@month, format: :xls), class:"btn btn-warning mx-3" %>
        </div>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Hora de entrada</th>
              <th>Hora de salida</th>
              <th>Total de horas</th>
              <th>Empleado</th>
            </tr>
          </thead>
        
          <tbody>
            <% @registers.each do |register| %>

                <tr>
                  <td><%= register.id %></td>
                  <td><%= register.date %></td>
                  <td><%= register.hour_start.strftime("%I:%M %p") %></td>
                  <td><%= register.hour_end.strftime("%I:%M %p") %></td>
                  <td><%= register.total_hours == nil ? '---': register.total_hours %></td>
                  <td>
                    <%= register.user.person.name %>
                    <%= register.user.person.paternalLastName %>
                    <%= register.user.person.maternalLastName %>
                  </td>
                  <td>
                  
                </tr>
            <% end %>
       
          </tbody>
        </table>
      </div>

  </div>
</div>
